<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vtuber love</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <button class="menu">&#9776</button>
        <form method="POST">
            <div class="wrap">
                <div class="search">
                    <input class="search-bar" type="text" name="search" id="search" placeholder="輸入關鍵字">
                    <button class="search-btn">
                    </button>
                </div>
            </div>
        </form>
        <ul>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>

    </header>
    <main>
        <section class="ayame">
            <h2>TOKYO Airbnb</h2>
        </section>

    </main>
    <footer>
        <p>copyright @fenyying's web ALL Rights Reserved</p>
    </footer>
</body>
</html>