<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOKYO Airbnb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <button class="menu">&#9776</button>
        <form method="POST">
            <div class="wrap">
                <div class="search">
                    <input class="search-bar" type="text" name="search" id="search" placeholder="請輸入關鍵字">
                    <button class="search-btn">
                    </button>
                </div>
            </div>
        </form>
        <ul>
            {% if session.get('username') %}
            
                <li class="welcome-text">Welcome, {{ session['username'] }}!</li>
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/list">List</a></li>
            
            {% else %}
            
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
            
            {% endif %}
        </ul>

    </header>
    <div class="content">
        <ul>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            <h2>1</h2>
            {% for result in results %}
            <li>
                {% if result[1].endswith(('.jpg', '.png', '.gif')) %}
                <img src="{{ result[1] }}" alt="Image" style="max-width: 200px; height: auto;">
                {% else %}
                {{ result[1] }}
                {% endif %}
                - {{ result[2] }}
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if page > 1 %}
            <a href="/search?search={{ keyword }}&page={{ page - 1 }}">Previous</a>
            {% endif %}

            {% for i in range(1, total_pages + 1) %}
            <a href="/search?search={{ keyword }}&page={{ i }}" class="{% if i == page %}active{% endif %}">
                {{ i }}
            </a>
            {% endfor %}

            {% if page < total_pages %}
            <a href="/search?search={{ keyword }}&page={{ page + 1 }}">Next</a>
            {% endif %}
        </div>
    </div>
    <footer>
        <p>copyright @fenyying's web ALL Rights Reserved</p>
    </footer>
</body>
</html>